<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something, <%= current_user.username %>
</h4>

<div class="ui stackable two column grid">
	<div class="twelve wide column">
		<div class="ui fluid raised card chatbox">
  		<div class="content" id="messages">
				<div class="ui feed" id="message-container">
					<%= render @messages %>
				</div>
			</div>

			<div class="extra content">
				<%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
			    <div class="field">
			    	<div class="ui fluid icon input">
			    		<%= f.text_field :body, placeholder: "Enter a message...", autofocus: true %>
			    		<%= f.button %>
				    </div>
			    </div>
			  <% end %>
		  </div>
		</div>
	</div>

	<div class="four wide column">
		<div class="ui fluid vertical menu raised card chatbox" id="users">
			<a class="item">
				<h3>All current users</h3>
			</a>
			<% @users.each do |user| %>
			  <a class="item">
			    <div class="ui green empty circular label"></div>
			    <%= user.username %>
			  </a>
		  <% end %>
		</div>
	</div>
</div>